SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
USE_REMOTE=False
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
REDIS_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=eu-central-1

OPENAI_API_KEY=

